[DEFAULT]
# IP-address of the ICAP-Server
host = 192.168.0.20

# Port of the ICAP-Server
port = 1344

# IP-address of the client-machine
clientip = 192.168.0.121

# Folder with files to send (also MAY BE a filename for current directory or "fullpath like" filename)
# Format: C:\Users\azat.ZECURION\Desktop\Lorem Ipsum
send_files_from_dir = C:\Users\azat.ZECURION\Desktop\icap_files

# Size of chunk in bytes
chunks = 2*1024*1024

# User(s) for authentication headers
user = local://zecurion.local\azat
usersfile = C:\Users\azat.ZECURION\Desktop\users.txt

[THREADS]
iterations = 3
threads = 3
scan_seconds = 300